<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Investing in Innovation-Driven Local Communities</h3>
                    <p class="bio">We're Investment Management and Advisory Commercial Real Estate experts with an entrepreneurial mindset and women at the helm. We serve the Pacific Northwest market as a local and experienced firm focusing on socially responsible commercial real estate investments. Simply put, we invest with care.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-subheading text-muted green">Who We Are</h4>
                    <p>Recognizing the need for a fully integrated Seattle real estate investment firm practicing socially responsible real estate investment, Anna Gowans founded Innovare Investments in 2017 and was joined by her mentor and former boss, Steve Latimer, in 2018.</p>
                    <p>Anticipate Tomorrow, Build Today. Innmovare invests in projects that anticipate tomorrow's demographicv, cultural, and technological shifts. Our team's experience in acquiring and developing commercial real estate projects in the Seattle market and across the country has shown our mastery of the fundamentals. Now, Innovare will focus on building future-ready projects by anticipating the following trends:</p>
                    <h5>Demographic, Data and Predictive Analytics</h5>
                    <p>We explore tools for more informed location, investment, and tenant decision</p>
                    <h5>People & Planet</h5>
                    <p>We invest in humand centric and planet conscious projects. People are at teh core of what we do. We offer a variety of resources including tenant curation and purposeful location establishment that is inclusive and community oriented. We provide intentional and experiential design in all that we do. We care about the planet and environmental stewardship. We consider this at the forefront of what we do.</p>
                    <h5>Equality & Diversity</h5>
                    <p>We foster diverse and experienced institutional entrepreneurs, with women at the helm. Clients and tenants today are more diverse than ever before. A firm that leads in diverse perspectives and experiences delivers better outcomes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-subheading text-muted green">Investment Focus</h4>
                    <h5>Asset Type</h5>
                    <p>Office, Retail, Mixed-Use, Residential & Industrial</p>
                    <h5>Risk Type</h5>
                    <p>Core, Core-Plus, Value-Add, New Development, Build-to-Core</p>
                    <h5>Location</h5>
                    <p>Seattle metropolitan area, urban infill locations that benefit from today's technological advancements and significant demographic and cultural shifts (near job formation, residential projects, amenities, culture & mass transit.</p>
                    <h5>Size</h5>
                    <p>$5MM - $25MM total project investment size that's typically overlooked by large institutions and too large for a private owner.</p>
                    <h5>Target Term</h5>
                    <p> Typical investment period of 3 - 10 years, varies based on asset type, risk, and investor preference.</p>
                </div>
            </div>
        </div>
    </section>