<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <!--<img src ="{{ '/img/logos/innovare.png' | prepend: site.baseurl }}">-->
                    <span class="brand-text">512 5th Ave W, Seattle</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navcollapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden"><a href="#page-top"></a></li>
                  <li><a class="page-scroll" href="#portfolio">Apartments</a></li>
                  <li><a class="page-scroll" href="#apply">Apply</a></li>
                  <li><a class="page-scroll" href="#neighborhood">Neighborhood</a></li>
                  <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(img/slider/1.jpg);">
      <img src="img/slider/1.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
    <div class="item" style="background-image: url(img/slider/2.jpg);">
      <img src="img/slider/2.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
    <div class="item" style="background-image: url(img/slider/3.jpg);">
      <img src="img/slider/3.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>

    </div>
    <div class="item" style="background-image: url(img/slider/4.jpg);">
      <img src="img/slider/4.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
    <div class="item" style="background-image: url(img/slider/5.jpg);">
      <img src="img/slider/5.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
    <div class="item" style="background-image: url(img/slider/6.jpg);">
      <img src="img/slider/6.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
    <div class="item" style="background-image: url(img/slider/7.jpg);">
      <img src="img/slider/7.jpg" alt="...">
      <div class="carousel-caption">
        The Standard
        <div><a href="#apply" class="page-scroll btn btn-xl btn-move">Apply</a></div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
