<!-- About Section -->
    <section id="neighborhood">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Neighborhood</h2>
                </div>
                <div class="col-md-8">
                    <p>
                    The Standard enjoys a spectacular location in Lower Queen Anne on 5th Ave West, with nearby access to:
                    <p><ul class="amenities">
                            <li><b>Restaurants:</b> Toulouse Petit, Taylor Shellfish Oyster Bar, Peso’s</li>
                    <li><b>Coffee Shops:</b> Uptown Espresso, Café Ladro, Caffee Zingaro, KEXP 90.3 FM</li>
                    <li><b>Groceries:</b> The Metropolitan Market, Safeway, Bartell Drug or CVS</li>
                   <li><b>Entertainment & Recreation:</b> SIFF Cinema Uptown, Seattle Science Center, Key Arena, Kerry Park, Myrtle Edwards Park</li>
                    <li><b>Employment Centers:</b> ~ 1 mile from South Lake Union, ~ 2 miles from Seattle CBD</li>
                    <li><b>Transportation:</b> 4 min walk to high frequency bus stop  (Rapid Ride)</li>
                    </p>
                </div>
                <div class="col-md-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.1165900028564!2d-122.36492388436892!3d47.62386487918583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54901542d36c4609%3A0xfb8a1ce6f912bf06!2s512+5th+Ave+W%2C+Seattle%2C+WA+98119!5e0!3m2!1sen!2sus!4v1539232917768" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>