<!-- About Section -->
    <section id="neighborhood">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Neighborhood</h2>
                </div>
                <div class="col-lg-12">
                    <p>
                    The Standard enjoys a spectacular location in Lower Queen Anne on 5th Ave West, with nearby access to:
                    <p><ul class="amenities">
                            <li><b>Restaurants:</b> Toulouse Petit, Taylor Shellfish Oyster Bar, Peso’s</li>
                    <li><b>Coffee Shops:</b> Uptown Espresso, Café Ladro, Caffee Zingaro, KEXP 90.3 FM</li>
                    <li><b>Groceries:</b> The Metropolitan Market, Safeway, Bartell Drug or CVS</li>
                   <li><b>Entertainment & Recreation:</b> SIFF Cinema Uptown, Seattle Science Center, Key Arena, Kerry Park, Myrtle Edwards Park</li>
                    <li><b>Employment Centers:</b> ~ 1 mile from South Lake Union, ~ 2 miles from Seattle CBD</li>
                    <li><b>Transportation:</b> 4 min walk to high frequency bus stop  (Rapid Ride)</li>
                    </p>
                </div>
            </div>
        </div>
    </section>