<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Innovare Investments is awesome.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Property Management & Real Estate</h4>
                    <p class="text-muted">We work with property managers, homeowners and real estate agents to ensure that moving is a breeze! We respond quickly and work efficiently to get your punch lists done.</p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="icon-handsaw fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Carpentry</h4>
                    <p class="text-muted">We can do anything from full remodels to custom carpentry such as siding, trim, baseboards, stairs, handrails, hardware installation and replacement, and more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="icon-door fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Window & Door Install</h4>
                    <p class="text-muted">Any type of window and door installation you may need with expertise extending to specialty installations such as Nanawall doors and European window systems.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="icon-window fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Window Service & Repair</h4>
                    <p class="text-muted">Everything from windowsills to window seals, we help protect your home from moisture and the elements while keeping your home aesthetically pleasing.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="icon-homerepair2 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Home Repairs</h4>
                    <p class="text-muted">It’s important to keep your home in good working order and we are here to help! No job is too big or too small.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-navicon fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Decks</h4>
                    <p class="text-muted">Expand your outdoor living space with a new front porch, adding a deck to your backyard or even your rooftop. We also provide deck repair, refinishing, and painting.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Painting</h4>
                    <p class="text-muted">A fresh coat of paint can make all the difference to brighten and renew your space.  We can assist with colors or simply give you a professional application.</p>
                </div>
            </div>
        </div>
    </section>