
.icon-window:before { content: '\e800'; } /* '' */
.icon-door:before { content: '\e801'; } /* '' */
.icon-handsaw:before { content: '\e802'; } /* '' */
.icon-home-repair:before { content: '\e803'; } /* '' */
.icon-homerepair2:before { content: '\e804'; } /* '' */