.navbar-brand img {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  left: 70px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

@font-face { 
	font-family: Rodondo; 
	src: url('css/Rodondo.otf'); 
}

.brand-text { 
	font-family: Rodondo; 
	color: white;
	letter-spacing: 3px;
}

.img-team {
  max-height: 400px
}

.green {
    color: #74c1ac
}

.bio {
    text-align: left;
}

.odd {
    border-right: 1px solid #999999;
    padding-right:20px;
}