.navbar-brand img {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  left: 70px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

@font-face { 
	font-family: Rodondo; 
	src: url('css/Rodondo.otf'); 
}

.brand-text { 
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #999999;
}

.img-team {
  max-height: 400px
}

.green {
    color: #74c1ac
}

.bio {
    text-align: left;
}

.odd {
    border-right: 1px solid #999999;
    padding-right:20px;
}


.amenities { 
    display: block;
    list-style-type: square;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.75
}